<h1>Contact Page</h1>
<p>This is the contact page loaded dynamically.</p>


<form id="myForm">
  <input name="user.name" placeholder="Name" />
  <input type="checkbox" name="user.active" />
  <select name="user.role">
    <option value="admin">Admin</option>
    <option value="editor">Editor</option>
  </select>
  <input type="radio" name="user.gender" value="male" /> Male
  <input type="radio" name="user.gender" value="female" /> Female
</form>
<pre id="debug"></pre>


<script type="module">



</script>